.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-family: 'Sacramento', sans-serif;
  font-size: 70px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: #fff0db;
  border-radius: 6px;
}

.flex-container-footer {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: #fff0db;
  border-radius: 6px;
}

.space-evenly { 
  justify-content: space-evenly; 
}

/* .container-navbar {
  width: 50%;
} */

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.fall-collection-pic {
  height: 500px;
  border-radius: 12px;
}

.fall-collection-container {
  padding-top: 15px;
}

span {
  font-size: 75px;
}

.white-text {
  color: white;
}

#fall-collection-p {
  font-size: 20px;
}

.variety-pic {
  height: 500px;
  border-radius: 12px;
}

.all-products-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.product-card {
  height: 300px; 
  width: 200px;
  border: 3px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

/* 
#all-products-p {
  font-size: 13px; 
} */

.btn-outline-dark:hover {
  background-color: #c7fce7;
  color: black;
  outline: none;
  box-shadow: none;
}

.btn-outline-dark:focus, .btn-outline-dark:active:focus, .btn-outline-dark.active:focus {
  outline: none;
  box-shadow: none;
  background-color: #a4f5d3;
}

h2 {
  font-size: 40px;
}

.home-fall-collection {
  display: flex;
  /* align-items: center;
  justify-content: center; */

}

.flex-fall-collection-pic {
  max-width: 100%;
  height: auto;
  width: 700px;
}

#home-fall-collection-picture {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;

}

#home-fall-collection-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-page-footer {
  /* display: flex;
  flex-direction: row; */
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #fff0db;
  /* align-items: center;
  justify-content: center; */
  /* border-radius: 6px; */
  text-align: center;
}

#all-products-h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 54px;
  text-align: center;

}

.product-card-container {
  display: flex;
  flex-direction: column;
}