.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-family: 'Sacramento', sans-serif;
  font-size: 70px;
}

#navbar {
  background-color: #FEEFFC;
  border-radius: 6px;
  /* padding-top: 7px;
  padding-bottom: 7px; */
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: #FEF5FE;
  border-radius: 6px;
}


.space-evenly { 
  justify-content: space-evenly; 
}

.container {
  width: 50%;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.variety-pic {
  width: 750px;
  border-radius: 12px;
}

.fall-collection-container {
  padding-top: 10px;
}

span {
  font-size: 75px;
}

.white-text {
  color: white;
}





